<a href="https://colab.research.google.com/github/SebasM95/Aprendiendo/blob/main/Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np

In [ ]:
df_estudiantes=pd.read_csv('/content/drive/MyDrive/StudentsPerformance (1) (1).csv')
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
#Operaciones en columnas
#Lo primero que debemos hacer es elegir la columna que quiero operar, ojala una columna numerica
df_estudiantes['reading score']

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64

In [ ]:
#Como sumar datos de una columna
df_estudiantes['reading score'].sum()

69169

In [ ]:
#Como contar datos de una columna
df_estudiantes['reading score'].count()

1000

In [ ]:
#Ejemplo 2
df_estudiantes['gender'].count()

1000

In [ ]:
#Para calcular el promedio usamos el mÃ©todo mean
df_estudiantes['reading score'].mean()

69.169

In [ ]:
#Para calcular la desviaciÃ³n estandar de una columna uso el mÃ©todo std
df_estudiantes['reading score'].std()

14.60019193725222

In [ ]:
#Para ver los valores maximos de una columna uso el mÃ©todo max
df_estudiantes['reading score'].max()

100

In [ ]:
#Para ver los valores minimos de una columna uso el mÃ©todo min
df_estudiantes['reading score'].min()

17

In [ ]:
#Para ver las medidas de tendencia central de una columna usa el metodo discribe
df_estudiantes['reading score'].describe()

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

In [ ]:
#Operaciones entre filas, empecemos con la suma
df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['reading score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [ ]:
#AsÃ­ guardo una columna calculada y la agrego
df_estudiantes['total']=df_estudiantes['math score']+df_estudiantes['writing score']+df_estudiantes['reading score']
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [ ]:
#Ahora vamos a calcular el promedio de los datos de esas personas
(df_estudiantes['total'])/3

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: total, Length: 1000, dtype: float64

In [ ]:
df_estudiantes['promedio']=(df_estudiantes['total'])/3
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.000000
998,female,group D,some college,standard,completed,68,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [ ]:
#AsÃ­ redondeo los nÃºmeros para que tengan solo 2 decimales
df_estudiantes.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.67
1,female,group C,some college,standard,completed,69,90,88,247,82.33
2,female,group B,master's degree,standard,none,90,95,93,278,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.33
4,male,group C,some college,standard,none,76,78,75,229,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.00
996,male,group C,high school,free/reduced,none,62,55,55,172,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.00
998,female,group D,some college,standard,completed,68,78,77,223,74.33
999,female,group D,some college,free/reduced,none,77,86,86,249,83.00

In [ ]:
#Ahora vamosa contar elementos por valor
len(df_estudiantes['gender'])
#Para contar cada uno uso el mÃ©todo value.counts
df_estudiantes['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [ ]:
#Para contar la raza y grupos etnicos (en este caso)
df_estudiantes['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [ ]:
#Puedo calcular el valor de participaciÃ³n por cada elemento
df_estudiantes['race/ethnicity'].value_counts(normalize=True*100)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [ ]:
#Agrupar por una parental level of education
df_estudiantes['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [ ]:
#Tambien puedo calcular el porcentaje de participaciÃ³n por Ã­tem
df_estudiantes['parental level of education'].value_counts(normalize=True)*100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64

In [ ]:
#Ahora se calcula el porcentaje de participaciÃ³n pero por genero
df_estudiantes['gender'].value_counts(normalize=True)*100

gender
female    51.8
male      48.2
Name: proportion, dtype: float64

In [ ]:
#Que pasa si lo uso en una columna nÃºmerica
df_estudiantes['math score'].value_counts()

math score
65    36
62    35
69    32
59    32
61    27
      ..
24     1
28     1
33     1
18     1
8      1
Name: count, Length: 81, dtype: int64

In [ ]:
#Ordenemos los datos por el valor de matematicas en ascendente
df_estudiantes.sort_values('math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
17,female,group B,some high school,free/reduced,none,18,32,28,78,26.000000
787,female,group B,some college,standard,none,19,38,32,89,29.666667
145,female,group C,some college,free/reduced,none,22,39,33,94,31.333333
...,...,...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99,296,98.666667
623,male,group A,some college,standard,completed,100,96,86,282,94.000000
451,female,group E,some college,standard,none,100,92,97,289,96.333333
962,female,group E,associate's degree,standard,none,100,100,100,300,100.000000
149,male,group E,associate's degree,free/reduced,completed,100,100,93,293,97.666667

In [ ]:
#Para guardar alguna acciÃ³n de orden o demas en la base de datos
df_estudiantes=df_estudiantes.sort_values('math score')
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
17,female,group B,some high school,free/reduced,none,18,32,28,78,26.000000
787,female,group B,some college,standard,none,19,38,32,89,29.666667
145,female,group C,some college,free/reduced,none,22,39,33,94,31.333333
...,...,...,...,...,...,...,...,...,...,...
458,female,group E,bachelor's degree,standard,none,100,100,100,300,100.000000
625,male,group D,some college,standard,completed,100,97,99,296,98.666667
623,male,group A,some college,standard,completed,100,96,86,282,94.000000
451,female,group E,some college,standard,none,100,92,97,289,96.333333
149,male,group E,associate's degree,free/reduced,completed,100,100,93,293,97.666667

In [ ]:
df_estudiantes.to_csv('df_estudiantes.cvs', index=False)

In [ ]:
#Ahora vamos a organizar de forma descendente
df_estudiantes.sort_values('math score',ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
149,male,group E,associate's degree,free/reduced,completed,100,100,93,293,97.666667
451,female,group E,some college,standard,none,100,92,97,289,96.333333
623,male,group A,some college,standard,completed,100,96,86,282,94.000000
625,male,group D,some college,standard,completed,100,97,99,296,98.666667
458,female,group E,bachelor's degree,standard,none,100,100,100,300,100.000000
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,94,31.333333
787,female,group B,some college,standard,none,19,38,32,89,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,78,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000

In [ ]:
#Tambien podemos ordenar los dataframes no solo por una columna si no por dos. Hay que tener en cuenta que organizara por el primer dato y el segundo sera dependiente
df_estudiantes.sort_values(['reading score','writing score'],ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
970,female,group D,bachelor's degree,standard,none,89,100,100,289,96.333333
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100,292,97.333333
957,female,group D,master's degree,standard,none,92,100,100,292,97.333333
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,293,97.666667
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,78,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
596,male,group B,high school,free/reduced,none,30,24,15,69,23.000000
327,male,group A,some college,free/reduced,none,28,23,19,70,23.333333
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000

In [ ]:
organizado_lectura=df_estudiantes.sort_values(['reading score','writing score'],ascending=False)
organizado_lectura.to_csv('organizado_lectura.csv', index=False)

In [ ]:
#De esta manera puedo guardar los datos y sobre escribir si reusar la variable usando el mÃ©todo inplace
df_estudiantes.sort_values(['reading score','writing score'],ascending=False,
                           inplace=True)
df_estudiantes

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
106,female,group D,master's degree,standard,none,87,100,100,287,95.666667
970,female,group D,bachelor's degree,standard,none,89,100,100,289,96.333333
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100,292,97.333333
957,female,group D,master's degree,standard,none,92,100,100,292,97.333333
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100,293,97.666667
...,...,...,...,...,...,...,...,...,...,...
76,male,group E,some high school,standard,none,30,26,22,78,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333
596,male,group B,high school,free/reduced,none,30,24,15,69,23.000000
327,male,group A,some college,free/reduced,none,28,23,19,70,23.333333
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000

'

In [ ]:
from types import LambdaType
#Ahora organizaremos los valores por texto, para uso usaremos la funciÃ³n lampda
#Con ella primer convertiremo los valores en minisculas y luego ordenaremos
df_estudiantes.sort_values('race/ethnicity', ascending=True,
                           key=lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total,promedio
837,female,group A,high school,standard,completed,75,82,79,236,78.666667
129,female,group A,bachelor's degree,standard,none,51,49,51,151,50.333333
467,male,group A,high school,free/reduced,completed,72,67,65,204,68.000000
511,male,group A,some high school,standard,none,64,50,43,157,52.333333
378,female,group A,some high school,standard,none,71,83,77,231,77.000000
...,...,...,...,...,...,...,...,...,...,...
186,male,group E,high school,standard,none,80,76,65,221,73.666667
968,female,group E,associate's degree,standard,none,68,76,67,211,70.333333
269,female,group E,some college,free/reduced,none,71,76,70,217,72.333333
926,male,group E,associate's degree,free/reduced,none,64,56,52,172,57.333333
881,female,group E,bachelor's degree,standard,completed,71,70,70,211,70.333333